<h1 class="animated fadeIn fast">hola buenas</h1>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deleniti consequuntur consectetur similique hic atque, fugiat perspiciatis. Sint, iusto? Nulla nihil laborum laudantium soluta alias earum similique, suscipit deserunt et.</p>

<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur praesentium placeat animi ipsam? Odio hic fugiat pariatur, repellat recusandae tempore velit quod cumque temporibus dolores magnam. Ipsa ea soluta dicta.
</p>